<div class="countdown js-countdown">
    <div class="countdown__title js-endDate"><mark class="text-wavy">Launch Day Sale</mark> ends on <time>Friday, 15 October 2021 23:59</time>!
    </div>
    <div class="countdown__box-container">
        <div class="countdown__box">
            <div class="countdown__box__time js-countdownValue">1</div>
            <div class="countdown__box__title js-countdownTextDay">day</div>
        </div>
        <div class="countdown__box">
            <div class="countdown__box__time js-countdownValue">14</div>
            <div class="countdown__box__title">hours</div>
        </div>
        <div class="countdown__box">
            <div class="countdown__box__time js-countdownValue">53</div>
            <div class="countdown__box__title">mins</div>
        </div>
        <div class="countdown__box">
            <div class="countdown__box__time js-countdownValue">38</div>
            <div class="countdown__box__title">secs</div>
        </div>
    </div>
</div>