<div class="features__card">
    <figure class="features__card__icon">
        {{icon}}
    </figure>
    <div class="features__card__title">
        {{title}}
    </div>
    <p class="features__card__desc">
        {{desc}}
    </p>
</div>