<footer class="footer">
    <div class="container">
        <figure class="footer__logo">
            <img loading="lazy" src="img/logo.svg" alt="aliveDomain">
        </figure>
        <div class="footer__bottom-wrapper">
            <div class="footer__item">
                Copyright © <time class="js-footerDate">2021</time> aliveDomain
            </div>
            <a class="footer__item link" href="#" title="Terms of Service" target="_blank">
                Terms of Service
            </a>
            <a class="footer__item link" href="#" title="License" target="_blank">
                License
            </a>
        </div>
    </div>
</footer>