<section class="section hero" id="home">
    <div class="container">
        <div class="hero__content">
            <h1 class="hero__content__title">
                Keep your domain alive!<br>
                <mark class="text-bg-color text-bg-color--secondary">The easiest way to monitor</mark> the expiry dates of all your domains.
            </h1>
            <p class="hero__content__subtitle">
                aliveDomain is a complete domain monitoring platform that tracks the expiry dates of domains and sends notifications
                through different notification channels.
            </p>
            {% include 'global/button' with type: 'a', modifier: 'primary', href: 'pricing', title: 'Track Your Domains' %}
        </div>
    </div>
    <figure class="hero__dashboard">
        <img loading="lazy" src="img/dashboard.png" alt="Dashboard Picture">
    </figure>
</section>