<section class="section wwh" id="wwh">
    <div class="container">
        {% include 'global/section-name', sectionName: 'Who we help' %}
        <div class="wwh-wrapper">
            <div class="wwh__title">For those who</div>
            <div class="wwh-item-container">
                {% include 'global/wwh-item' with icon: '<svg class="icon icon-wind"><use xlink:href="#icon-wind"></use></svg>' desc: 'Have domains in many companies and have difficulty in following them' %}
                {% include 'global/wwh-item' with icon: '<svg class="icon icon-wind"><use xlink:href="#icon-wind"></use></svg>' desc: 'Have domains in different companies for SEO and have difficulty in following them' %}
                {% include 'global/wwh-item' with icon: '<svg class="icon icon-wind"><use xlink:href="#icon-wind"></use></svg>' desc: 'Want to provide a better experience for their customers by tracking their domains' %}
                {% include 'global/wwh-item' with icon: '<svg class="icon icon-wind"><use xlink:href="#icon-wind"></use></svg>' desc: 'Want to get notifications from different channels besides email' %}
                {% include 'global/wwh-item' with icon: '<svg class="icon icon-wind"><use xlink:href="#icon-wind"></use></svg>' desc: 'Do not own but want to follow the expiry date of other domains' %}
            </div>
            <svg class="icon icon-absolute icon-search">
                <use xlink:href="#icon-search"></use>
            </svg>
            <svg class="icon icon-absolute icon-globe">
                <use xlink:href="#icon-globe"></use>
            </svg>
            <svg class="icon icon-absolute icon-mail">
                <use xlink:href="#icon-mail"></use>
            </svg>
            <svg class="icon icon-absolute icon-send">
                <use xlink:href="#icon-send"></use>
            </svg>
            <svg class="icon icon-absolute icon-monitor">
                <use xlink:href="#icon-monitor"></use>
            </svg>
            <svg class="icon icon-absolute icon-at-sign">
                <use xlink:href="#icon-at-sign"></use>
            </svg>
        </div>
    </div>
</section>