.section__name {
    font-size: .875rem;
    font-weight: var(--font-medium);
    letter-spacing: var(--letter-spacing);
    color: var(--color-primary);
    text-align: center;
    text-transform: uppercase;
    padding-top: var(--section-spacing);
    margin-bottom: 2.5rem;
}